.projects-container {
    padding: 4rem 2rem;
    text-align: center;
    color: #fff;
  }
 
  
  .projects-container h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #b49aff;
    letter-spacing: 1px;
  }
  
  .projects {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
  }
  
  .projects::-webkit-scrollbar {
    height: 8px;
  }
  
  .projects::-webkit-scrollbar-thumb {
    background-color: #0366d6;
    border-radius: 10px;
  }
  